/* Reset */

body {
	margin: 0;
	padding: 0;
}

/* Typography */

html {
	font-family: 'Roboto', sans-serif;
	color: #444;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	background-color: #f7f7f7;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	color: #1a1a1a;
	margin-bottom: 10px;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
	color: #666;
}

.icons-social i {
	padding: 10px;
	color: #444;
	transition: all 0.2s ease-in-out;
}

.icons-social i:hover {
	color: #007bff;
}

.icons-social a:not(:last-child) {
	margin-right: 10px;
}

/* Theme: Grey-White */

.icons-social i.fab.fa-github:hover {
	color: #24292e;
}

.icons-social i.fab.fa-twitter:hover {
	color: #1da1f2;
}

.icons-social i.fab.fa-dev:hover {
	color: #0a0a0a;
}

.icons-social i.fab.fa-stack-overflow:hover {
	color: #f48024;
}

.icons-social i.fab.fa-linkedin:hover {
	color: #0077b5;
}

.icons-social i.fab.fa-medium:hover {
	color: #00ab6c;
}
